# --------------------
# Node & NestJS
# --------------------
node_modules/
**/node_modules/
dist/
**/dist/
*.tsbuildinfo

# --------------------
# Environment files
# --------------------
.env
.env.*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# --------------------
# Logs
# --------------------
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --------------------
# IDEs
# --------------------
.idea/
*.sublime-project
*.sublime-workspace

# --------------------
# MacOS / Linux
# --------------------
.DS_Store
*.swp

# --------------------
# Yarn cache & temporary
# --------------------
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.npm

# --------------------
# Docker
# --------------------
docker-compose.override.yml
**/docker-compose.override.yml
**/docker-compose.override.yaml
**/docker-compose.override.*
docker_volumes/

# --------------------
# Coverage / Test
# --------------------
coverage/
**/coverage/
jest.config.ts
jest.config.js
*.spec.ts

# --------------------
# Temporary / Build / Misc
# --------------------
.tmp/
.cache/
*.tmp
*.temp
